<div class="container-fluid">
    <div class="row">
        <!-- Weight -->
        <div class="col-lg-6 col-md-10 col-sm-12" style="margin-bottom: 1rem;">
            <div class="card">
                <div class="card-body">
                    <app-graph
                        [chartData]="chartData"
                        [chartLabelList]="chartLabels">
                    </app-graph>
                </div>
            </div>
        </div>
        <!-- Waist -->
        <div class="col-lg-6 col-md-8 col-sm-12" style="margin-bottom: 1rem;">
            <div class="card">
                <div class="card-body">
                    <app-graph
                        [chartData]="waistChartData"
                        [chartLabelList]="chartLabels">
                    </app-graph>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-8 col-sm-12" style="margin-bottom: 1rem;">
            <div class="card">
                <div class="card-body">
                    <app-graph
                        [chartData]="quadChartData"
                        [chartLabelList]="chartLabels">
                    </app-graph>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-8 col-sm-12" style="margin-bottom: 1rem;">
            <div class="card">
                <div class="card-body">
                    <app-graph
                        [chartData]="chestChartData"
                        [chartLabelList]="chartLabels">
                    </app-graph>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-8 col-sm-12" style="margin-bottom: 1rem;">
            <div class="card">
                <div class="card-body">
                    <app-graph
                        [chartData]="rightArmFlexedChartData"
                        [chartLabelList]="chartLabels">
                    </app-graph>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-8 col-sm-12" style="margin-bottom: 1rem;">
            <div class="card">
                <div class="card-body">
                    <app-graph
                        [chartData]="hipChartData"
                        [chartLabelList]="chartLabels">
                    </app-graph>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-8 col-sm-12" style="margin-bottom: 1rem;">
            <div class="card">
                <div class="card-body">
                    <app-graph
                        [chartData]="neckChartData"
                        [chartLabelList]="chartLabels">
                    </app-graph>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-8 col-sm-12" style="margin-bottom: 1rem;">
            <div class="card">
                <div class="card-body">
                    <app-graph
                        [chartData]="bodyFatPercentChartData"
                        [chartLabelList]="chartLabels">
                    </app-graph>
                </div>
            </div>
        </div>


    </div>
</div>